
<div class="alert alert-warning text-center">
	<h4>Attention!</h4>This is a <strong>static HTML</strong> sample page that demonstrate available screen composition options. These are <strong>NOT</strong> dynamically generated controls.
</div>

<hr />
