<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  
  <system.net>

    <defaultProxy useDefaultCredentials="true"/>

  </system.net>

    
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>


  <connectionStrings>

    <add name="SqlServerConnection"          
         connectionString="Data Source=S001ND-SP-DEV2; Initial Catalog=DPDBG; Trusted_Connection=True;  MultipleActiveResultSets=True; Min Pool Size=3;Application Name=DPDBG"
         providerName="System.Data.SqlClient" />

  </connectionStrings>



  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="DPDEventTrackingPortBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
        <binding name="ParcelTracingPortBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://ws.dpd.ru:80/services/event-tracking"
          binding="basicHttpBinding" bindingConfiguration="DPDEventTrackingPortBinding"
          contract="BGDPDServiceEventTracking.DPDEventTracking" name="DPDEventTrackingPort" />
      <endpoint address="http://ws.dpd.ru:80/services/tracing" binding="basicHttpBinding"
          bindingConfiguration="ParcelTracingPortBinding" contract="BGDPDServiceTracing.ParcelTracing"
          name="ParcelTracingPort" />
    </client>
  </system.serviceModel>
  
  
</configuration>